
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    
    
}
body{
    background-color: #efefef
}
.container{
    width: 100%;
    height:70px;
    display: flex;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
    align-items: center;
    overflow: hidden;
    background-color:#072227;
    
  
    
}
.logo{
margin-left: 50px;
margin-top: 10px;
align-items: center;
}
.img-logo{
    width:150px;
    object-fit: contain;
}
.navbar{
    width:50%;
    align-items: center;
    
}
.list-item{
    display:flex;
    list-style: none;
}
.item{
    padding:50px;
}
.link{
    color: white;
   
    font-weight:300;
    font-size: 15px;
}

.item{
    width:80%;
}

.icon{
    color: #406882;
    font-size: 30px;
    cursor: pointer;
    display:none;
  
  }
   .exit-btn{
      position: absolute;
      top:20px;
      right: 10px;
  }
  .menu-btn{
    position:absolute;
    top: 20px;
    right: 10px;
  }
    
 .banner{
     width: 100%;
     height: 500px;
     background-image: url('./img/bc-about.jpg');
 }
    
 .text{
   height:300px;
   width: 66%;
   margin: auto;
    font-family: 'Roboto',sans-serif;
    position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  text-align: center;
  align-self: center;
  align-items: center;
  color:white
 }
.banner-title{
    font-size:30px;
    font-weight:400;
    padding-bottom: 40px;
}
.banner-detail{
    font-weight: 300;
    line-height: 30px;
    font-size: 15px;
}
.banner-contact{
   display:inline-block;
   background-color: gray;
   padding: 6px;
   border-radius:7px;
   margin-top: 20px;
}
.banner-contact:hover{

    background-color: black;

}
.banner-link{
    color: white;
font-size: 17px;
    
}
.about-me{
    margin-top: 40px;
    width: 70%;
    height: 600px;
    font-family:'Helvetica', 'Arial', sans-serif;
position: relative;
    margin: auto;
}
.container-about{
text-align:left;
position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85%;
  

}
.about-tex{
    padding-bottom: 20px;
}
.about-tex h1{
    font-size:30px;
}
.container-about h2{
    font-size: 15px;
    line-height:40px;
    font-weight:300 ;
}
.visi-misi{
    width:90%;
    height:500px;
    margin: auto;
}
.text-visimisi{
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 24px;
}
.text-visimisi::after{
    content: '';
    /* position: absolute; */
    width: 170px;
    height: 2px;
    background: #097fc9;
    margin-top: 10px;
    display: block;
}
.container-visi{    
    font-size: 15px;
    font-family:'Helvetica', 'Arial', sans-serif;

}
.container-visi h3{
    font-weight: 300;
    padding-top: 10px;
    font-size: 15px;
}
.container-visi h2{
    padding-top: 20px;
    
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size:20px;
}
.container-visi h2::after{
    content: '';
    /* position: absolute; */
    width: 30px;
    height: 2px;
    background: #097fc9;
    margin-top: 8px;
    display: block;
}
.container-misi{
    padding-top: 20px;
}
.container-misi h2{
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 20px;
}
.container-misi h2::after{
    content: '';
    /* position: absolute; */
    width: 30px;
    height: 2px;
    background: #097fc9;
    margin-top: 10px;
    display: block;
}
.container-misi li{
    font-family:'Helvetica', 'Arial', sans-serif;
    font-size:15px;
    padding-top: 10px;
    font-size:300 ;
    
}
.list-misi{
    padding-left: 8px;
}
.team{
    display: flex;
    justify-content:space-around;
    width: 90%;
    margin: auto;
    margin-top: 15%;

}
.img-team{
    width:50%;
    position: relative;
}

.img-team img{
    width:500px;
    height:300px;
    object-fit: contain;
    position: absolute;
    top: 20px;
    
}
.kosong{
    height:300px;
    z-index: -10;
    width:400px;
    background-color:red;
}
.text-team{
    width:50%;
    margin-top: 60px;
    
    font-family:'Helvetica', 'Arial', sans-serif;
    
}
.text-team h3{
    font-family:'Helvetica', 'Arial', sans-serif;
    font-size:15px;
    font-weight: 300;
    line-height:30px;
}
.judul-team{
    margin-bottom: 15px;
    font-size: 24px;
}
.judul-team::after{
    content: '';
    /* position: absolute; */
    width: 40px;
    height: 2px;
    background: red;
    margin-top: 10px;
    display: block;
}
.mitra-kami{
    width: 90%;
    height: 90%;
    margin: auto;
   
    font-family: 'Helvetica', 'Arial', sans-serif;
}
.mitra-kami h1{
 margin-top:100px;   
 padding-bottom: 30px;
 font-size: 24px;
}
.mitra-kami h1::after{
    content: "";
    width: 100px;
    height: 2px;
    background:#097fc9;
    margin-top: 10px;
    display: block;
}
.mitra-kami h3{
    font-weight: 300;
    font-size:15px;
    line-height: 30px;
}
.mitra-klien{
    display:flex;
    width:90%;
    margin: auto;
    justify-content:space-between;
    margin-top: 20px;
    font-family: 'Helvetica', 'Arial', sans-serif;
}
.ul-pertama{
    margin-left: 50px;
    
    
}
.ul-pertama li {
    font-size: 15px;
   padding-top: 15px;
}
.ul-kedua{
    margin-right: 50px;
}
.ul-kedua li {
    padding-top: 15px;
    font-size: 15px;
}
.klient-kami{
    font-family: 'Helvetica', 'Arial', sans-serif;
    width:90%;
    margin: auto;
    margin-top: 40px;
    
}
.text-client h2::after{
content: '';
width: 100px;
height: 2px;
background:#097fc9;
margin-top: 10px;
display: block;
}
.text-client h2{
    font-size:24px;
}
.text-client h3{
    padding-top: 20px;
    font-weight: 300;
    font-size: 15px;
}

.img-client{
    align-items: center;

width:100%;

height: 100vh;




}
.baris-pertama{
align-items:center;
width: 100%;
height: 200px;

display: flex;
text-align: center;
}

.image{
    width: 170px;
    align-items: center;
    height:100px;
    object-fit: contain;
    margin-right: 50px;
    
}
.baris-kedua{
   width:100%;
   height:200px;
   display:flex;
   
   align-items: center;
    
}
.baris-ketiga{
    width:100%;
   display:flex;


   align-items: center;
   padding-top: 60px;
}
.baris-keempat{
    width:100%;
    display:flex;
   
    align-items: center;
    padding-top: 60px;
}
.baris-kelima{
    width:100%;
    display:flex;
  
    align-items: center;
    padding-top: 60px;
}
.bod{
    width:90%;
    margin: auto;
    height:600px;
    margin-top: 370px;
}
.text-bod{
    font-family: 'Helvetica', 'Arial', sans-serif;
}
.text-bod h2{
    font-size: 24px;
}
.text-bod .pimpinan::after{
    content: '';
width: 200px;
height: 2px;
background:#097fc9;
margin-top: 10px;
display: block;
}
.text-bod h3{
    font-weight: 300;
    padding-top: 20px;
    font: size 15px; ;
}
.card-container{
    width: 100%;
    display:flex;
    margin-top: 50px;
    justify-content: space-between;
    
}
.card-1{
    width:33.3%;
    height:486px;
    background-color: gray;
    margin-right: 20px;
    border-radius:8px;
   

}
.card-1 img{
    width:300px;
    height:350px;
       margin-top: 40px;
       object-fit: contain;
    align-items: center;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
   
    
}
.text-card{
    align-items: center;
    text-align: center;
    color: #f7f6f2;
    font-family: 'Helvetica', 'Arial', sans-serif;
    padding-top: 30px;
    font-size: 12px;
}
.director{
    text-align: center;
    color: whitesmoke;
    font-weight: 300;
    
    padding-top: 10px;
    font-family: 'Helvetica', 'Arial', sans-serif;
}
.card-2{
    width:33.3%;
    height:486px;
    background-color: gray;
    border-radius:8px;
   

}
.card-2 img{
    width:300px;
    object-fit: contain;
    height:365px;
    margin-top: 40px;
    align-items: center;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
   
    
}
.card-3{
    width:33.3%;
    height:486px;
    background-color: gray;
    border-radius:8px;
    margin-left: 20px;
  

}
.card-3 img{
    width:300px;
    object-fit: contain;
    height:350px;
    margin-top: 40px;
    align-items: center;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
   
}
.footer-distributed {
    background-color: #123;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font-family: 'Monsterat', sans-serif;
    padding: 50px 50px 60px 50px;
    margin-top: 100px;
    
}

.footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
    width: 30%;
}

.footer-distributed h3 {
    color: #ffffff;
   font-family: 'Montserrat', sans-serif;
    margin: 0;
}


.footer-distributed h3 span {
    color: #e0ac1c;
}

/* Footer links */

.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: whitesmoke;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa {
    font-size: 20px;
    line-height: 38px;
    
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: #e0ac1c;
    text-decoration: none;
    ;
}

/* Footer Right */

.footer-distributed .footer-right {
    width: 30%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.footer-distributed .footer-icons a:hover {
    background-color: #3F71EA;
}

.footer-links a:hover {
    color: #3F71EA;
}

.container-gallery {
  display: grid;
  margin-top: 40px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  background: #efefef   ;
  padding: 15px;
}
.container-gallery img {
  width: 100%;
  display: block;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  transition: all 100ms ease-out;
}
.container-gallery img:hover {
  transform: scale(1.04);
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

@media  screen and (max-width: 768px) {
    .list-item{
        position: fixed;
        top:-20px;
         left: -800px;
         height:100vh;
         width:700px;
         background-color:#123;
         max-width: 400px;
         display: block;
         font-size:25px;
         padding:40px 0;
       text-align: center;
       transition:all 0.7s ease;
       z-index: 2;
    
         
    }
   
    .list-item.active{
        left:-100px;
    }
    .link{
        color: #fff;
        font-weight: 500;
        margin-left: 20px;
        text-decoration: none;
        transition: all 0.3 ease;
        
       
       }
       .link:hover{
           color: #BDBDBD;
       } 
       .icon{
           display: block;
       }
       .icon.hide{
           display: none;
       } 
    .container-about{
        width: 100%;
    
    }
    .team{
        width: 100%;
    }
    .img-team{
        align-items: center;
        margin-top: -60px;
    }
    .team img{
        width: 300px;
        padding-left: 15px;
        top: -40px;
    }
    .kosong{
        width:250px;
        height:200px;
    }
    .text-team{
        margin-top: -100px;
        width:100%;
    }
    .judul-team{
        font-size:16px; 
    }
    .team-desc{
    font-size: 14px;
    }
    .judul-mitra h1{
        font-size: 16px;
    }
    .text-client h2{
font-size:16px;
    }
    .baris-pertama{
        padding-left: 0px;
        display:block;
    }
    .baris-kedua{
        padding-left: -10px;
    }
    .image{
        width: 90px;
    }
    .card-container{
        display: flex;
        flex-direction: column;
    }
    .card-1{
        width: 90%;
        
        margin: auto;   
    }
    .card-2{
        width: 90%;
        margin: auto;   
        margin-top: 20px;
    }
    .card-3{
        width: 90%;
        margin: auto;   
        margin-top: 20px;
    }
    .footer-distributed{
        margin-top: 1100px;
    }
    .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .footer-distributed .footer-center i {
        margin-left: 0;
    }
}
@media screen and (max-width:480px){
    .banner-title{
        font-size:18px;
    }
    .banner{
        width:100%;
    }
    .banner-detail{
        font-size:11px;
  
}.banner-contact{
    padding:-1px;
}
.banner-contact a{
    font-size:11px;
    text-align: center;
    padding-bottom: 20px;
}
.about-me{
    width:90%;
    margin: auto;
}
.about-tex h1{
    font-size:18px;
}
.container-about h2{
    font-size:11px;
}
.text-visimisi{
    font-size:18px;
}
.text-visimisi::after{
    width:90px;
}
.container-visi h2{
    font-size:16px;
}
.container-visi h3{
    font-size:11px
}
.container-misi h2{
    font-size:16px;
}
.container-misi li{
    font-size:11px;
}   
.team{
    display:inline-block;
    width:100%;
}
.img-team{
   width:100%;
}
.img-team img{
    margin-left: 30px;
}
.kosong{
    margin-left: 25px;
}
.text-team{
    width:100%;
    margin-top: 100px;
    

}
.judul-team{
    font-size:18px;
    width: 90%;
    margin:auto;

}
.text-team h3{
    font-size:11px;
    width:90%;
    margin: auto;
}
.judul-mitra h1{
    font-size:18px;
}
.judul-mitra h3{
    font-size:11px;
}
.mitra-klien{
    width: 100%;
    display: inline-block
}
.ul-pertama li{
    font-size:11px;
}
.ul-kedua{
    margin-left: 50px;
}
.ul-kedua li{
    font-size:11px;
}
.img-client{
    width:90%;
    margin: auto;
    align-items: center;
    text-align: center;

}

.baris-pertama{
    align-items: center;
    padding-left: 0px;
}
.baris-kedua{
 
    padding-left: 0px;
    align-items: center;
    display: block;
    margin-top: 80px;
}
.baris-ketiga{
    display:block;
    padding-left:0px;
    margin-top: 80px;
    
}
.baris-keempat{
    display:block;
    padding-left:0px;
    margin-top: -60px;
  
    
}
.baris-kelima{
    display:block;
    width: 100%;
    padding-left:0px;
    margin-top: -60px;
  
    
}
.bod{
    margin-top: 600px;
}
.card-2 img{
    width:290px;
    margin-top: 46px;
    margin-right: 20px;
}
.card-3 img{
    margin-left: -5px;
}
.image{
    width:70px;
}
.footer-distributed .footer-center p{
    font-size:11px;
}
.footer-distributed .footer-center i {
    width:35px;
    text-align: center;

}



}